body{
    background-color: #312257; 
    background-image:url(./assets/fundo_galaxia.png);
    background-size: cover;
    color: white;
    font-family: 'poppins', sans-serif; 
}

.barra_navegacao{
    display: flex; 
    justify-content: space-between;
    padding-right: 100px; 
    padding-left: 100px;
}

.barra_navegacao a:hover{
    color: #F5A8E1; 
}

@media(width <= 400px) { 
    .barra_navegacao{
        flex-direction: column; 
    }

    header{
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }
}

li{
    list-style-type: none; 
}

a{
    text-decoration: none; 
    color: white; 
}

main{
    margin-left: 20px;
    margin-right: 20px; 
}

.sobre_nome{
    color: #E63DE9;
    display: flex;
    justify-content: center;
}

.sobre_titulo{
    color: white;
    display: flex;
    justify-content: center;
}

.sobre_subtitulo{
    margin-left: 25px;
}

.interesses_titulo{
    color: #F5A8E1;
    margin-left: 15px;
}

.projetos_titulo{
    color: #F5A8E1;
    margin-left: 15px;
}

.projetos_subtitulo{
    color: white;
    margin-left: 25px;
}
main p{
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

footer {
    display: flex;
    justify-content: center; 
    margin-top: 40px; 
}

footer div{
    font-size: 20px;
    padding: 20px; 
}

footer img{
    width: 20px; 
}

footer a{
    display: flex; 
    align-items: center; 
}

@media (width <= 420px) { 
    footer{
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
    }
}
.legendas_fotos{
    display: flex;
    justify-content: space-between;
    padding-right: 145px; 
    padding-left: 145px;
}

.legenda_observatorio{
    font-size: 16px;
    width: 610px;
}

.legenda_lua{
    font-size: 16px;
    font-size: 16px;

}
.foto_eu {
    display: flex;
    justify-content: center; 
    padding-top: 0px;
    height: 310px;
  }

.fotos_interresses{
    display: flex; 
    justify-content: center;
    padding-right: 100px;
    padding-left: 100px; 
}

.foto_observatorio{
    display: flex;
    height: 320px;
    justify-content: left;
    margin-left: 100px;
    margin-right: 140px;
    margin-top: 10px;
    border-style: solid;
    border-width: 5px;
    border-radius: 7%;
    border-color: #8e91ed;
}

.foto_lua{
    display: flex;
    height: 320px;
    justify-content: right;
    margin-right: 100px;
    margin-left: 140px;
    margin-top: 10px;
    border-style: solid;
    border-width: 5px;
    border-radius: 7%;
    border-color: #8e91ed;

}

.cin_saida_fotos{
    display: flex; 
    justify-content:space-between;
    padding-right: 250px; 
    padding-left: 250px;
    padding-bottom: 10px;
    height: 250px;
}

.foto_cin_capa{
    height: 250px;
    border-style: solid;
    border-width: 5px;
    border-radius: 7%;
    border-color: #F5A8E1; 
}

.foto_cin_jogo{
    height: 250px;
    border-style: solid;
    border-width: 5px;
    border-radius: 7%;
    border-color: #F5A8E1;
}

.projetos_link{
    padding: 20px;
    color: #F5A8E1;
}

.sobre_caixa{
    position: relative;
}

.interesses_caixa{
    position: relative;
}

.retangulo_transparente{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #382A5F;
    border-radius: 15px;
    z-index: -1;
}

